<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{128,70}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{128,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,97}}</string>
                <key>sourceSize</key>
                <string>{128,97}</string>
            </dict>
            <key>10_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,169},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>10_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{90,64}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{90,64}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3cd2bf84c78599e9243945cfc1dd9d$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
